<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/login.css">
    <title>DashBoard</title>
</head>

<body>
    <div class="outermost-container">
        <div class="container">
            <h1>DashBoard</h1>
            <!-- Sync and Backup Now -->
            <div class="form-group" style="text-align: center;">
                <a href="/sync" class="btn btn-primary" id = "sync-now"> Sync Now</a>
            </div>
            <!-- Restore Now -->
            <div class="form-group" style="text-align: center;">
                <a href="/restore" class="btn btn-primary"> Restore Now</a>
            </div>
            <!-- logout -->
            <div class="form-group" style="text-align: center;">
                <a href="/logout" class="btn btn-primary"> Logout</a>
            </div>
        </div>
    </div>
    </div>
</body>

</html>