<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/login.css">
  <title>Error</title>
</head>

<body>
  <div class="outermost-container">
    <div class="container">
      <!-- Error -->
      <div class="form-group" style="text-align: center;">
        <h1>Error</h1>
        <h3>Something went wrong</h3>
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/signUp" class="btn btn-primary">Register</a>
      </div>
    </div>
  </div>
</body>

</html>