<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/login.css">
    <title>HomePage</title>
</head>

<body>
    <div class="outermost-container">
        <div class="container">
            <h1>Home Page</h1>
            <!-- Home Page for Cloud Storage Recovery -->
            <!-- Login and Register button -->
            <div class="form-group" style="text-align: center;">
                <!-- div containing the login button -->
                <a href="/login" class="btn btn-primary">Login</a>
                <!-- div containing the register button -->
                <a href="/signUp" class="btn btn-primary">Register</a>
            </div>

        </div>
    </div>
    </div>
</body>

</html>