html {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Consolas", sans-serif;
  background-color: #f4f4f4;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.outermost-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px; /* Increased padding for better spacing */
  width: 350px; /* Increased width for better readability */
  max-width: 100%;
}

.container h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0;
  color: #555;
}

input {
  padding: 12px; /* Increased padding for better input appearance */
  margin-bottom: 20px; /* Increased margin for better spacing */
  border: 1px solid #ccc;
  border-radius: 6px; /* Slightly increased border radius */
  font-size: 16px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 12px; /* Increased padding for better button appearance */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px; /* Increased font size for better visibility */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
  background-color: #45a049;
}

p {
  margin-top: 15px; /* Increased margin for better spacing */
  text-align: center;
  color: #888;
}

a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #2574a9;
}

